In [3]:

import sys
path = "C:\github/aide-analysis/"
sys.path.append(path)

import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd())))

# 한글폰트
import os
import matplotlib.pyplot as plt
if os.name =='posix':
    plt.rc('font',family = 'ApplGothic')
else:
    plt.rc('font',family = 'Malgun Gothic')
    
# 경고출력문 제거
import warnings
warnings.filterwarnings("ignore")

# 모듈 import`
import pandas as pd
import src
from src.openapi import KakaoLocalAPI as kakao
from openpyxl import load_workbook
from src.utils import insert_dataframe_to_excel_sheet
from src.sql import DatabaseHandler
from src.temp import *
from datetime import datetime
import datetime
from dateutil.relativedelta import relativedelta
from src.bigquery import BigqueryHandler
import seaborn as sns
import numpy as np
import statistics
from tqdm import tqdm
import config
from core.config import Config
import json
from datetime import datetime
import geopandas as gpd
from tqdm import tqdm
import folium
from openpyxl import load_workbook
import openpyxl
import tqdm
config = Config()
BH = BigqueryHandler()


# DataFrame 디스플레이 설정
pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 250)
pd.set_option('display.width', 100)

In [6]:
sql = f"""
SELECT *
FROM `aidepartners.aide.complex_real_price_prod` AS price
LEFT JOIN (SELECT * FROM `aidepartners.aide.complex_area_information_prod`) AS area ON price.complexNo = area.complexNo AND price.areaNo = area.pyeongNo
WHERE price.contractDate >='2020-01-01' AND tradeType = 'A1' AND deleteYn is null
"""
df = BH.read_table(sql)

In [51]:
data = df.copy()

In [52]:
# 년월 컬럼생성
data['yearMonth'] = data['tradeYear'].astype(str) + '-' +data['tradeMonth'].astype(str)
data['yearMonth'] = pd.to_datetime(data['yearMonth'])
# 매매거래 + 취소되지않은거래 필터
data = data[(data['tradeType']=='A1')&(data['deleteYn'].isna())].reset_index(drop = True)
# 월평균 거래금액 데이터프레임 생성
df_mean = data.groupby(['complexNo','yearMonth'])['dealPrice'].mean().reset_index()
# 월평균 거래금액 컬럼 명 변경
df_mean = df_mean.rename(columns = {'dealPrice':'averagePrice'})
# copy데이터에 월평균 거래금액 추가를 위한 merge
data = pd.merge(data, df_mean, on = ['complexNo','yearMonth'])

In [53]:
# 전월 평균 가격 컬럼 생성
data['beforePrice']

,complexNo,areaNo,tradeType,tradeYear,tradeMonth,tradeDate,dealPrice,leasePrice,rentPrice,floor,deleteYn,representativeArea,exclusiveArea,formattedPrice,contractDate,pnuCode,complexNo_1,complexName,realEstateTypeCode,realEstateTypeName,pyeongNo,supplyAreaName,supplyPyeongName,supplyArea,supplyPyeong,jeonyongArea,jeonyongPyeong,householdCountByPyeong,jeonyongRate,areaSixGroupNo,areaFiveGroupNo,entranceType,roomCount,bathroomCount,landPriceMaxByPtp,grandPlanList,articleStatistics,maintenanceCostList,averageMaintenanceCost,dealRestrictionYearMonthDay,monopolyPossibleYmd,isalePriceByLetter,isalePrice,stdYear,stdYmd,minPrice,maxPrice,minSupplyPrice,maxSupplyPrice,minJeonyongPrice,maxJeonyongPrice,imageSrc1,imageSrc2,isLedgerPrice,isPriceNull,isNearPrice,yearMonth,averagePrice
0,26532,1,A1,2022,4,1,5600,<NA>,<NA>,5,None,0.0,0.0,"5,600",2022-04-01,4374025031108860000,26532,영동설계주공,APT,아파트,1,55A,16A,55.93,16.91,39.94,12.08,106,71,A1,A0,복합식,2,1,"{'ptpNo': '1', 'supplyArea': '55.93', 'totalAr...",None,"{'pyeongNo': '1', 'dealCount': '1', 'leaseCoun...","[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103800', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,212,235,297,329,None,None,0,0,0,2022-04-01,6728.571429
1,26532,2,A1,2022,4,6,5800,<NA>,<NA>,9,None,0.0,0.0,"5,800",2022-04-06,4374025031108860000,26532,영동설계주공,APT,아파트,2,55B,16B,55.51,16.79,39.64,11.99,54,71,A1,A0,복합식,2,1,"{'ptpNo': '2', 'supplyArea': '55.51', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103020', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,214,236,299,331,None,None,0,0,0,2022-04-01,6728.571429
2,26532,2,A1,2022,4,8,6200,<NA>,<NA>,3,None,0.0,0.0,"6,200",2022-04-08,4374025031108860000,26532,영동설계주공,APT,아파트,2,55B,16B,55.51,16.79,39.64,11.99,54,71,A1,A0,복합식,2,1,"{'ptpNo': '2', 'supplyArea': '55.51', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103020', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,214,236,299,331,None,None,0,0,0,2022-04-01,6728.571429
3,26532,3,A1,2022,4,21,7400,<NA>,<NA>,9,None,0.0,0.0,"7,400",2022-04-21,4374025031108860000,26532,영동설계주공,APT,아파트,3,69A,21A,69.75,21.09,49.81,15.06,197,71,A1,A1,복합식,2,1,"{'ptpNo': '3', 'supplyArea': '69.75', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '129451', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,4650,5430,220,257,309,361,None,None,0,0,0,2022-04-01,6728.571429
4,26532,3,A1,2022,4,5,8200,<NA>,<NA>,12,None,0.0,0.0,"8,200",2022-04-05,4374025031108860000,26532,영동설계주공,APT,아파트,3,69A,21A,69.75,21.09,49.81,15.06,197,71,A1,A1,복합식,2,1,"{'ptpNo': '3', 'supplyArea': '69.75', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '129451', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,4650,5430,220,257,309,361,None,None,0,0,0,2022-04-01,6728.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684619,24826,2,A1,2022,8,16,58850,<NA>,<NA>,27,None,0.0,0.0,"5억 8,850",2022-08-16,3111010800101720000,24826,마제스타워울산(주상복합),APT,아파트,2,174A,52A,174.91,52.91,133.51,40.38,197,76,A5,A4,계단식,4,2,"{'ptpNo': '2', 'supplyArea': '174.91', 'totalA...","[{'imageId': '24826@20120315163744934551', 'im...","{'pyeongNo': '2', 'dealCount': '13', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '3...","{'averageTotalPrice': '305650', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,25400,36400,480,688,629,901,/20120315_91/hscp_img_13317970648546nBbN_JPEG/...,None,0,0,0,2022-08-01,58850.0
1684620,25380,6,A1,2022,8,21,35500,<NA>,<NA>,5,None,0.0,0.0,"3억 5,500",2022-08-21,4812710400102320001,25380,창원마산역동도센트리움(주상복합),APT,아파트,6,143,43,143.67,43.46,108.34,32.77,13,75,A4,A3,계단식,4,2,None,"[{'imageId': '25380@20121210155103480631', 'im...",None,"[{'basisYearMonth': '202210', 'totalPrice': '2...","{'averageTotalPrice': '275140', 'summerTotalPr...",None,None,None,<NA>,None,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,/20121210_209/hscp_img_13551222634408hyMG_JPEG...,/20121210_219/hscp_img_1355122268329idtmm_JPEG...,0,1,0,2022-08-01,35500.0
1684621,5955,1,A1,2022,8,22,17400,<NA>,<NA>,4,None,0.0,0.0,"1억 7,400",2022-08-22,3114010600116070001,5955,현대문화2차,APT,아파트,1,83,25,83.87,25.37,59.76,18.07,350,71,A2,A1,복도식,3,1,"{'ptpNo': '1', 'supplyArea': '83.87', 'totalAr...",None,"{'pyeongNo': '1', 'dealCount': '11', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '151957', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,9710,11400,383,449,537,631,None,None,0,0,0,2022-08-01,17400.0
1684622,15683,3,A1,2022,8,31,8900,<NA>,<NA>,2,None,0.0,0.0,"8,900",2022-08-31,4817012000101020002,15683,삼전맨션1차,APT,아파트,3,83,25,83.92,25.38,71.45,21.61,30,85,A3,A2,계단식,3,1,"{'ptpNo': '3', 'supplyArea': '83.92', 'totalAr...",None,None,None,None,None,None,None,<NA>,2022,20220101,4830,5150,190,203,224,238,None,None,0,0,0,2022-08-01,8900.0
1684623,9086,4,A1,2021,10,8,79300,<NA>,<NA>,2,None,0.0,0.0,"7억 9,300",2021-10-08,1130510200107600000,9086,오동공원현대홈타운,APT,아파트,4,150A,45A,150.88,45.64,117.27,35.47,79,78,A4,A3,계단식,4,2,"{'ptpNo': '4', 'supplyArea': '150.88', 'totalA...","[{'imageId': '9086@20110420233535381285', 'ima...","{'pyeongNo': '4', 'dealCount': '6', 'leaseCoun...","[{'basisYearMonth': '202210', 'totalPrice': '2...","{'averageTotalPrice': '279088', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,46400,53300,1017,1168,1308,1503,/20120124_123/land_system_1327396241265RONjW_J...,None,0,0,0,2021-10-01,79300.0

In [61]:
data['beforePrice'] = ''
for i in range(0, len(data)):
    data.iloc[i,-1] = data[data['yearMonth']==data['yearMonth'].iloc[i] - relativedelta(months = 1)]
    data['yearMonth'].iloc[i] - relativedelta(months = 1)

,complexNo,areaNo,tradeType,tradeYear,tradeMonth,tradeDate,dealPrice,leasePrice,rentPrice,floor,deleteYn,representativeArea,exclusiveArea,formattedPrice,contractDate,pnuCode,complexNo_1,complexName,realEstateTypeCode,realEstateTypeName,pyeongNo,supplyAreaName,supplyPyeongName,supplyArea,supplyPyeong,jeonyongArea,jeonyongPyeong,householdCountByPyeong,jeonyongRate,areaSixGroupNo,areaFiveGroupNo,entranceType,roomCount,bathroomCount,landPriceMaxByPtp,grandPlanList,articleStatistics,maintenanceCostList,averageMaintenanceCost,dealRestrictionYearMonthDay,monopolyPossibleYmd,isalePriceByLetter,isalePrice,stdYear,stdYmd,minPrice,maxPrice,minSupplyPrice,maxSupplyPrice,minJeonyongPrice,maxJeonyongPrice,imageSrc1,imageSrc2,isLedgerPrice,isPriceNull,isNearPrice,yearMonth,averagePrice
0,26532,1,A1,2022,4,1,5600,<NA>,<NA>,5,None,0.0,0.0,"5,600",2022-04-01,4374025031108860000,26532,영동설계주공,APT,아파트,1,55A,16A,55.93,16.91,39.94,12.08,106,71,A1,A0,복합식,2,1,"{'ptpNo': '1', 'supplyArea': '55.93', 'totalAr...",None,"{'pyeongNo': '1', 'dealCount': '1', 'leaseCoun...","[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103800', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,212,235,297,329,None,None,0,0,0,2022-04-01,6728.571429
1,26532,2,A1,2022,4,6,5800,<NA>,<NA>,9,None,0.0,0.0,"5,800",2022-04-06,4374025031108860000,26532,영동설계주공,APT,아파트,2,55B,16B,55.51,16.79,39.64,11.99,54,71,A1,A0,복합식,2,1,"{'ptpNo': '2', 'supplyArea': '55.51', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103020', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,214,236,299,331,None,None,0,0,0,2022-04-01,6728.571429
2,26532,2,A1,2022,4,8,6200,<NA>,<NA>,3,None,0.0,0.0,"6,200",2022-04-08,4374025031108860000,26532,영동설계주공,APT,아파트,2,55B,16B,55.51,16.79,39.64,11.99,54,71,A1,A0,복합식,2,1,"{'ptpNo': '2', 'supplyArea': '55.51', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103020', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,214,236,299,331,None,None,0,0,0,2022-04-01,6728.571429
3,26532,3,A1,2022,4,21,7400,<NA>,<NA>,9,None,0.0,0.0,"7,400",2022-04-21,4374025031108860000,26532,영동설계주공,APT,아파트,3,69A,21A,69.75,21.09,49.81,15.06,197,71,A1,A1,복합식,2,1,"{'ptpNo': '3', 'supplyArea': '69.75', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '129451', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,4650,5430,220,257,309,361,None,None,0,0,0,2022-04-01,6728.571429
4,26532,3,A1,2022,4,5,8200,<NA>,<NA>,12,None,0.0,0.0,"8,200",2022-04-05,4374025031108860000,26532,영동설계주공,APT,아파트,3,69A,21A,69.75,21.09,49.81,15.06,197,71,A1,A1,복합식,2,1,"{'ptpNo': '3', 'supplyArea': '69.75', 'totalAr...",None,None,"[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '129451', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,4650,5430,220,257,309,361,None,None,0,0,0,2022-04-01,6728.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684619,24826,2,A1,2022,8,16,58850,<NA>,<NA>,27,None,0.0,0.0,"5억 8,850",2022-08-16,3111010800101720000,24826,마제스타워울산(주상복합),APT,아파트,2,174A,52A,174.91,52.91,133.51,40.38,197,76,A5,A4,계단식,4,2,"{'ptpNo': '2', 'supplyArea': '174.91', 'totalA...","[{'imageId': '24826@20120315163744934551', 'im...","{'pyeongNo': '2', 'dealCount': '13', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '3...","{'averageTotalPrice': '305650', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,25400,36400,480,688,629,901,/20120315_91/hscp_img_13317970648546nBbN_JPEG/...,None,0,0,0,2022-08-01,58850.0
1684620,25380,6,A1,2022,8,21,35500,<NA>,<NA>,5,None,0.0,0.0,"3억 5,500",2022-08-21,4812710400102320001,25380,창원마산역동도센트리움(주상복합),APT,아파트,6,143,43,143.67,43.46,108.34,32.77,13,75,A4,A3,계단식,4,2,None,"[{'imageId': '25380@20121210155103480631', 'im...",None,"[{'basisYearMonth': '202210', 'totalPrice': '2...","{'averageTotalPrice': '275140', 'summerTotalPr...",None,None,None,<NA>,None,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,/20121210_209/hscp_img_13551222634408hyMG_JPEG...,/20121210_219/hscp_img_1355122268329idtmm_JPEG...,0,1,0,2022-08-01,35500.0
1684621,5955,1,A1,2022,8,22,17400,<NA>,<NA>,4,None,0.0,0.0,"1억 7,400",2022-08-22,3114010600116070001,5955,현대문화2차,APT,아파트,1,83,25,83.87,25.37,59.76,18.07,350,71,A2,A1,복도식,3,1,"{'ptpNo': '1', 'supplyArea': '83.87', 'totalAr...",None,"{'pyeongNo': '1', 'dealCount': '11', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '151957', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,9710,11400,383,449,537,631,None,None,0,0,0,2022-08-01,17400.0
1684622,15683,3,A1,2022,8,31,8900,<NA>,<NA>,2,None,0.0,0.0,"8,900",2022-08-31,4817012000101020002,15683,삼전맨션1차,APT,아파트,3,83,25,83.92,25.38,71.45,21.61,30,85,A3,A2,계단식,3,1,"{'ptpNo': '3', 'supplyArea': '83.92', 'totalAr...",None,None,None,None,None,None,None,<NA>,2022,20220101,4830,5150,190,203,224,238,None,None,0,0,0,2022-08-01,8900.0
1684623,9086,4,A1,2021,10,8,79300,<NA>,<NA>,2,None,0.0,0.0,"7억 9,300",2021-10-08,1130510200107600000,9086,오동공원현대홈타운,APT,아파트,4,150A,45A,150.88,45.64,117.27,35.47,79,78,A4,A3,계단식,4,2,"{'ptpNo': '4', 'supplyArea': '150.88', 'totalA...","[{'imageId': '9086@20110420233535381285', 'ima...","{'pyeongNo': '4', 'dealCount': '6', 'leaseCoun...","[{'basisYearMonth': '202210', 'totalPrice': '2...","{'averageTotalPrice': '279088', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,46400,53300,1017,1168,1308,1503,/20120124_123/land_system_1327396241265RONjW_J...,None,0,0,0,2021-10-01,79300.0

In [24]:
for i in range(0, len(data)):
    data[data['']]

,complexNo,areaNo,tradeType,tradeYear,tradeMonth,tradeDate,dealPrice,leasePrice,rentPrice,floor,deleteYn,representativeArea,exclusiveArea,formattedPrice,contractDate,pnuCode,complexNo_1,complexName,realEstateTypeCode,realEstateTypeName,pyeongNo,supplyAreaName,supplyPyeongName,supplyArea,supplyPyeong,jeonyongArea,jeonyongPyeong,householdCountByPyeong,jeonyongRate,areaSixGroupNo,areaFiveGroupNo,entranceType,roomCount,bathroomCount,landPriceMaxByPtp,grandPlanList,articleStatistics,maintenanceCostList,averageMaintenanceCost,dealRestrictionYearMonthDay,monopolyPossibleYmd,isalePriceByLetter,isalePrice,stdYear,stdYmd,minPrice,maxPrice,minSupplyPrice,maxSupplyPrice,minJeonyongPrice,maxJeonyongPrice,imageSrc1,imageSrc2,isLedgerPrice,isPriceNull,isNearPrice,averagePrice
0,26532,1,A1,2022,4,1,5600,<NA>,<NA>,5,None,0.0,0.0,"5,600",2022-04-01,4374025031108860000,26532,영동설계주공,APT,아파트,1,55A,16A,55.93,16.91,39.94,12.08,106,71,A1,A0,복합식,2,1,"{'ptpNo': '1', 'supplyArea': '55.93', 'totalAr...",None,"{'pyeongNo': '1', 'dealCount': '1', 'leaseCoun...","[{'basisYearMonth': '202209', 'totalPrice': '1...","{'averageTotalPrice': '103800', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,3590,3970,212,235,297,329,None,None,0,0,0,5600.0
1,13710,1,A1,2022,4,1,35000,<NA>,<NA>,18,None,0.0,0.0,"3억 5,000",2022-04-01,4213011500116400000,13710,요진보네르카운티,APT,아파트,1,115A,34A,115.17,34.83,86.69,26.22,379,75,A4,A3,계단식,3,2,None,"[{'imageId': '13710@20120224151650155465', 'im...","{'pyeongNo': '1', 'dealCount': '12', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '167187', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,16800,19800,482,568,641,755,/20120224_33/hscp_img_13300642100065tje3_JPEG/...,None,1,0,0,33300.0
2,13710,1,A1,2022,4,18,31800,<NA>,<NA>,6,None,0.0,0.0,"3억 1,800",2022-04-18,4213011500116400000,13710,요진보네르카운티,APT,아파트,1,115A,34A,115.17,34.83,86.69,26.22,379,75,A4,A3,계단식,3,2,None,"[{'imageId': '13710@20120224151650155465', 'im...","{'pyeongNo': '1', 'dealCount': '12', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '167187', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,16800,19800,482,568,641,755,/20120224_33/hscp_img_13300642100065tje3_JPEG/...,None,1,0,0,33300.0
3,13710,1,A1,2022,4,13,33000,<NA>,<NA>,6,None,0.0,0.0,"3억 3,000",2022-04-13,4213011500116400000,13710,요진보네르카운티,APT,아파트,1,115A,34A,115.17,34.83,86.69,26.22,379,75,A4,A3,계단식,3,2,None,"[{'imageId': '13710@20120224151650155465', 'im...","{'pyeongNo': '1', 'dealCount': '12', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '167187', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,16800,19800,482,568,641,755,/20120224_33/hscp_img_13300642100065tje3_JPEG/...,None,1,0,0,33300.0
4,13710,1,A1,2022,4,9,32000,<NA>,<NA>,7,None,0.0,0.0,"3억 2,000",2022-04-09,4213011500116400000,13710,요진보네르카운티,APT,아파트,1,115A,34A,115.17,34.83,86.69,26.22,379,75,A4,A3,계단식,3,2,None,"[{'imageId': '13710@20120224151650155465', 'im...","{'pyeongNo': '1', 'dealCount': '12', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '167187', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,16800,19800,482,568,641,755,/20120224_33/hscp_img_13300642100065tje3_JPEG/...,None,1,0,0,33300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684619,22444,13,A1,2021,10,1,235000,<NA>,<NA>,47,None,0.0,0.0,"23억 5,000",2021-10-01,2629010700109440000,22444,오륙도SK뷰,APT,아파트,13,294B,89B,294.31,89.02,223.24,67.53,6,76,A5,A4,계단식,4,3,"{'ptpNo': '13', 'supplyArea': '294.31', 'total...","[{'imageId': '22444@20110420222259556188', 'im...",None,"[{'basisYearMonth': '202210', 'totalPrice': '5...","{'averageTotalPrice': '536912', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,174400,174400,1959,1959,2583,2583,/20120124_36/land_system_1327383632944Wx72x_JP...,None,0,0,0,235000.0
1684620,132825,2,A1,2021,10,10,22300,<NA>,<NA>,1,None,0.0,0.0,"2억 2,300",2021-10-10,4825012800110690000,132825,이안센트럴포레장유2단지,ABYG,아파트분양권,2,79B,24B,79.73,24.11,59.96,18.13,89,75,A2,A1,계단식,3,2,None,"[{'imageId': '132825@20200917155933791842', 'i...","{'pyeongNo': '2', 'dealCount': '17', 'leaseCou...",None,None,None,None,"2억 1,300",21300,None,None,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,/20200917_186/hscp_img_1600325973721m0q6e_JPEG...,/20200917_89/hscp_img_1600325980818wiCrO_JPEG/...,0,1,0,22300.0
1684621,9086,4,A1,2021,10,8,79300,<NA>,<NA>,2,None,0.0,0.0,"7억 9,300",2021-10-08,1130510200107600000,9086,오동공원현대홈타운,APT,아파트,4,150A,45A,150.88,45.64,117.27,35.47,79,78,A4,A3,계단식,4,2,"{'ptpNo': '4', 'supplyArea': '150.88', 'totalA...","[{'imageId': '9086@20110420233535381285', 'ima...","{'pyeongNo': '4', 'dealCount': '6', 'leaseCoun...","[{'basisYearMonth': '202210', 'totalPrice': '2...","{'averageTotalPrice': '279088', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,46400,53300,1017,1168,1308,1503,/20120124_123/land_system_1327396241265RONjW_J...,None,0,0,0,79300.0
1684622,3684,3,A1,2021,10,16,48500,<NA>,<NA>,2,None,0.0,0.0,"4억 8,500",2021-10-16,4146310300104540000,3684,금화마을5단지주공그린빌,APT,아파트,3,80C,24C,80.49,24.34,59.63,18.03,120,74,A2,A1,복도식,3,1,"{'ptpNo': '3', 'supplyArea': '80.49', 'totalAr...","[{'imageId': '3684@20120504171634546038', 'ima...","{'pyeongNo': '3', 'dealCount': '8', 'leaseCoun...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '191649', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,25700,29400,1056,1208,1425,1631,/20120504_194/hscp_img_1336119394509pd1si_JPEG...,None,0,0,0,48500.0
1684623,6278,1,A1,2021,10,18,17000,<NA>,<NA>,5,None,0.0,0.0,"1억 7,000",2021-10-18,3117010200102400000,6278,벽산우진타운,APT,아파트,1,79,24,79.43,24.02,59.98,18.14,175,76,A2,A1,계단식,3,1,"{'ptpNo': '1', 'supplyArea': '79.43', 'totalAr...",None,"{'pyeongNo': '1', 'dealCount': '12', 'leaseCou...","[{'basisYearMonth': '202210', 'totalPrice': '1...","{'averageTotalPrice': '134421', 'summerTotalPr...",None,None,None,<NA>,2022,20220101,9930,11600,413,483,547,639,None,None,0,0,0,17000.0